<h3>Are you sure to Delete Employee List ?</h3>
<div class="container">
    @{ Html.BeginForm();}
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Employee Name")
        </div>
        <div class="col-lg-3">
            <b>@ViewBag.empName</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Employee Department")
        </div>
        <div class="col-lg-3">
            <b>@ViewBag.empDept</b>
            @Html.Hidden("empId", (int)ViewBag.empId)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
    @{Html.EndForm();}
</div>
